.index {
    text-align: center;
    .app-header {
        padding: 20px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        li {
            list-style: none;
            .form-control {
                vertical-align: bottom;
                display: inline-flex;
                width: 50%;
            }
        }
    }
    .app-content {
        position: relative;
        &.active {
        background: #333;
        opacity: 0.1;
        }
    }
    .app-details {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 100%;
        background: #fff;
        height: 100%;
        width: 70%;
        .tabs {
            cursor: pointer;
            padding: 0;
            width: 92%;
            height: 50px;
            background: #F4F4F4;
            display: flex;
            flex-direction: row;
            list-style: none;
            justify-content: space-between;
            text-align: center; 
            word-break: break-all;
            li {
                padding: 12px 0 0 0;
                width: 33%;
                &.active {
                    background: #fff;
                }
            }
        }
        .close {
            background: #fff;
            opacity: 1;
            height: 50px;
        }
        &.active {
            opacity: 1;
            right: 0;
            left: inherit !important;
        }
    }
    .edit-modal {
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
        position: absolute;
        display: none;
        &.active {
            display: block;
        }
    }
}
  
.modal-footer {
    .form-group {
        margin-bottom: 0;
    }
}