.el-aside
{ 
    height: 100vh;
    background: #f6f7f8;
}
.main {
    margin: auto;
}
h1 {
    margin-top: 30px;
    font-size: 25px;
color: #606266
}
th {
    color: #929395;
}
.app-header {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    li {
        margin-right: 30px;
        list-style: none;
    }
}

.el-tabs {
    margin: 0 30px;
}

.domain-name,
.server-name {   
    display: table;
    border-bottom: 1px solid green;
    cursor: pointer;
}

.el-drawer {
    padding: 30px;
}