.index .app-header {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  justify-content: space-around;
}

.index .app-header li {
  list-style: none;
}

.index .app-header li .form-control {
  vertical-align: bottom;
  display: -webkit-inline-box;
  display: inline-flex;
  width: 50%;
}

.index .app-content {
  position: relative;
}

.index .app-content.active {
  background: #333;
  opacity: 0.1;
}

.index .app-details {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 100%;
  background: #fff;
  height: 100%;
  width: 100%;
}

.index .app-details .domain-name,
.index .app-details .server-name {
  border-bottom: 1px solid green;
  cursor: pointer;
}

.index .app-details .tabs {
  cursor: pointer;
  padding: 0;
  width: 92%;
  height: 50px;
  background: #F4F4F4;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  list-style: none;
  -webkit-box-pack: justify;
          justify-content: space-between;
  text-align: center;
  word-break: break-all;
}

.index .app-details .tabs li {
  padding: 12px 0 0 0;
  width: 33%;
}

.index .app-details .tabs li.active {
  background: #fff;
}

.index .app-details .close {
  background: #fff;
  opacity: 1;
  height: 50px;
}

.index .app-details.active {
  opacity: 1;
  right: 0;
  left: inherit !important;
}

.index .domain-details,
.index .server-details {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 100%;
  background: #fff;
  margin-top: 50px;
  height: 80%;
  width: 100%;
}

.index .domain-details .row,
.index .server-details .row {
  margin: 50px;
}

.index .domain-details .row .domain-name,
.index .domain-details .row .server-name,
.index .server-details .row .domain-name,
.index .server-details .row .server-name {
  border-bottom: 1px solid green;
  cursor: pointer;
}

.index .domain-details .row .domain-name,
.index .domain-details .row .server-name,
.index .server-details .row .domain-name,
.index .server-details .row .server-name {
  border-bottom: 1px solid green;
  cursor: pointer;
}

.index .domain-details.active,
.index .server-details.active {
  opacity: 1;
  right: 0;
  left: inherit !important;
}

.index .edit-modal {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
  display: none;
}

.index .edit-modal.active {
  display: block;
}

.modal-footer .form-group {
  margin-bottom: 0;
}

.edit-infra-modal {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
  display: none;
}

.edit-infra-modal.active {
  display: block;
}

